/*accesorios*/
.card__accesorios--styles {
  margin-top: 8%;
  margin-left: 30%;
  width: 70%;
}

.card__accesorios--styles2 {
  margin-right: 4%;
  margin-top: 8%;
  width: 70%;
}

.card__accesorios--styles3 {
  margin-right: 4%;
  margin-top: 8%;
  margin-left: 14%;
  width: 70%;
}

.card__title--style {
  font-weight: 600;
  font-size: 110%;
}

.card__text--style {
  font-size: 86%;
}

.card__col--size {
  height: 300px;
  margin-bottom: 5%;
}

.card__img--height {
  height: 162px;
}

.card__img--height2 {
  height: 163px;
}
