/*contacto*/
.contactos__formulario--margin {
  margin: 5% 30% 10% 30%;
}

.contactos__contactos--styleText {
  font-size: 200%;
  font-style: oblique;
  color: #345701;
  font-weight: 600;
  margin-left: 8%;
  margin-top: 2%;
}

.contactos__titleLabel--styleText {
  font-weight: 600;
  font-size: 120%;
}

.contactos__boton--style {
  background-color: #37554b;
  border: unset;
  height: 35px;
  padding: 1%;
}

.contacto__btnLimpiar-style {
  background-color: #854a4a;
  color: white;
  padding: 1%;
}
