.cardImg__nosotros--height {
  height: 400px;
  margin-top: 1%;
}

.cardTitle__text--colorAndStyle {
  font-size: 100%;
  font-style: oblique;
  text-decoration: underline;
  color: rgb(50, 139, 50);
  font-weight: 600;
}
