/*productos capilares*/
.cards__card--margin {
  margin-top: 1%;
}

.card__tamaño--style {
  width: 450px;
  padding: 5%;
  margin: 0 0 0 30%;
}

.card__tamaño--style2 {
  width: 450px;
  padding: 5%;
  margin: 0 10% 0 0;
}

.card__title--font {
  font-weight: 800;
  color: #4d6a22;
}

.card__text--font {
  font-weight: 600;
}
