@charset "UTF-8";

@import "footer";
@import "nosotros";
@import "accesorios";
@import "contacto";
@import "productosCapilares";

/*INICIO*/

.titulo {
  color: rgb(140, 243, 140);
  font-style: oblique;
  font-size: 40px;
  font-weight: 200;
}

.navbar__background--color {
  background-color: #37554b;
}

.nav__items {
  font-size: 100%;
  align-items: center;
}

.nav__items .nav__items--item-color {
  color: rgb(255, 255, 255);
}

.nav__items .nav__items--item-colorContacto {
  color: rgb(140, 233, 18);
}

.navBoton__item--backgroundColor {
  background-color: #37554b;
  border: unset;
}

.nav__items--item-colorInicio {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.card__card--color-text {
  color: #086100;
}

.boton__card--backgroundcolor-text {
  background-color: #206902;
  color: black;
}

@media (max-width: 1300px) {
  .texto {
    color: rgb(19, 43, 21);
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  .texto {
    color: rgb(19, 43, 21);
    font-size: 90%;
  }
}

@media (max-width: 480px) {
  .navbar-nav {
    flex-direction: column;
  }
  .titulo {
    text-align: center;
  }
  .texto {
    font-size: 50%;
  }
}
